.main {
    background-color: rgba(255, 255, 255, 0.842);
  }
  
  .button {
    background-color: #9ca3af;
    color: white;
  }
  
  .copyButton {
    background-color: #3b82f6;
    color: white;
  }
  
  .button1460 {
    background-color: #3b82f6;
    color: white;
  }
  
  .button1451 {
    background-color: green;
    color: white;
  }
  
  .section {
    background: linear-gradient(
      135deg,
      #00e426,
      #af4c4c,
      #2e537d,
      #A5D6A7,
      #b32121
    );
  }
  